@using PierresSassyStore.ViewModels
@model LoginViewModel

<h1>Login with your account</h1>

<hr/>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(m => m.Email, new{@placeholder = "Email"})
    @Html.PasswordFor(m => m.Password, new{@placeholder = "Password"})

    <input type="submit" value="Log in">
}