@using PierresSassyStore.ViewModels
@model LoginViewModel

<h1>Login with your account</h1>

<hr/>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(m => m.UserName, new{@placeholder = "User Name"})
    @Html.PasswordFor(m => m.Password, new{@placeholder = "Password"})

    @if(ViewBag.ErrorMsg != "")
    {
        <p>@ViewBag.ErrorMsg</p>
    }
    <input type="submit" value="Log in">
}