.library {
    list-style: none;
}

.library .card {
    margin: 10px 0;
    border-radius: 8px;
}

.library .col-auto {
    width: 300px;
    max-height: 210px; 
    margin: auto;
    overflow: hidden;
}
.library .card-img {
    object-fit: contain;
    max-width:280px;
    vertical-align: middle;
}

.detail-img {
    float: right;
    max-width: 30%;
    width: auto;
    height: auto;
}
#flavorOptions, #treatOptions {
    margin-top: 20px;
}

#groups {
    margin-left: 25%;
}