@using System.Security.Claims

<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        @Html.ActionLink($"Hello {User.Identity.Name}!", "Index", "Accounts", null,  new {@class = "nav-link text-dark"})
    </li>
    <li class="nav-item">
        @Html.ActionLink("Logout", "LogOff", "Accounts", null,  new {@class = "nav-link text-dark"})
    </li>
}
else
{
    <li class="nav-item">
         @Html.ActionLink("Register", "Register", "Accounts", null, new {@class = "nav-link text-dark"})
    </li>
    <li class="nav-item">
        @Html.ActionLink("Login", "Login", "Accounts", null,  new {@class = "nav-link text-dark"})
    </li>
}
</ul>